{% extends 'layouts/default/page.html' %}

{% block title %} Документы {% endblock %}

{% load i18n %}

{% block content %}
    <title>Главная</title>
    {% if request.user.is_authenticated %}

        <style type="text/css">
            .form-field {
                margin: 10px 5px 5px 5px;
            }
            .card-syle {

            }
            .dot {
              height: 25px;
              width: 25px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              text-align: center;
              color: white;
            }
            .fa-btn-icons {
              margin-right: 10px;
            }
            .see-info {
              margin: 0 10px 0 10px;
            }
            .doc-instances-view {
              background-color: #69f;
              color: #ffffff;
              padding: 3px;
              margin: 5px;
              border-radius: 5px;
            }
            .doc-instances-view:hover {
              background-color: #4047b2;
            }
            #istance-count-value {
              background-color: #17a2b8;
              color: #ffffff;
              padding: 3px 5px 3px 5px;
              /*margin: 5px;*/
              border-radius: 5px;
            }
            #istance-count-value-ok {
              background-color: #495057;
              color: #ffffff;
              padding: 5px 6px 5px 6px;
              border-radius: 5px;
            }
            #istance-count-value-ok:hover {
              background-color: #fd7e14;
              color: #ffffff;
              padding: 7px 8px 7px 8px;
              border-radius: 5px;
            }
        </style>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="card" style="box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 3px;">
                        <div class="card-header" >
                            <div class="float-right">
                                <form class="form-inline" action="{% url 'docs' %}" method="GET">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input name="doc_name" type="text" class="form-control" placeholder="Введите название документа или ключевые слова"size="47">
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Поиск</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Название документа</th>
                                        <th scope="col">Наименование хранилища</th>
                                        <th scope="col">Номер полки</th>
                                        <th scope="col">Номер сейфа</th>
                                        {% if user.is_superuser %}
                                        <th scope="col" style="text-align: center;">
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                              <button type="button" class="btn btn-info">Всего</button>
                                              <button type="button" class="btn btn-warning">Выдано</button>
                                            </div>
                                            <!-- Количество экземпляров / Выдано -->
                                        </th>
                                        <th scope="col"></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for doc in docs %}
                                        <tr>
                                            <th scope="row">{{ doc.doc_name }}</th>
                                            <td>{{ doc.storage }}</td>
                                            <td>{{ doc.cell_row }}</td>
                                            <td>{{ doc.cell_column }}</td>
                                            <!-- <td>{{ doc.instance_count }} / {{ doc.in_use_count }}</td> -->
                                            {% if user.is_superuser %}
                                            <td style="text-align: center;">
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                  <button type="button" class="btn btn-info">{{ doc.instance_count }}</button>
                                                  <button type="button" class="btn btn-warning">{{ doc.in_use_count }}</button>
                                                </div>
                                            </td>
                                            <td> 
                                              <div class="btn-group" role="group" aria-label="Basic example">
                                                {% if doc.instance_count == doc.in_use_count %}
                                                <button type="button" class="btn btn-outline-success" disabled>Выдать</button>
                                                {% else %}
                                                <button type="button" value="{{ doc.id }}" data-toggle="modal" data-target="#toInUseModal-{{ doc.id }}" class="btn btn-outline-success  to-in-use">Выдать</button>
                                                <div class="modal fade bd-example-modal-lg" id="toInUseModal-{{ doc.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="toUseModal-{{ doc.id }}">Выдать документ «{{doc.doc_name}}»</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
<div class="modal-body">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Номер экземпляра</th>
        <th scope="col">Дата создания</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for instance in doc.instances %}
        <tr>
          <td>{{ instance.unique_number }}</td>
          <td>{{ instance.created_at }}</td>
          <td>
            <button type="button" data-toggle="modal" data-target="#toInUseModal-who-{{ instance.id }}" class="btn btn-success">Выдать</button>
          </td>
          <div class="modal fade" id="toInUseModal-who-{{ instance.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Кому выдается?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                <div class="modal-body">
                  
                  <form method="post">
                    {% csrf_token %}
                    <div class="form-field">
                      <input type="hidden" name="switchdocinuse" class="form-control" value="1">
                      <input type="hidden" name="instance_id" class="form-control" value="{{ instance.id }}">
                      <input type="text" name="doc_description" class="form-control" placeholder="ФИО получившего"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                      <button type="submit" class="btn btn-primary">Выдать</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
        </div>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
                                                      
                                                    </div>
                                                  </div>
                                                </div>
                                                {% endif %}

                                                {% if doc.in_use_count == 0 %}
                                                <button type="button" class="btn btn-outline-success" disabled><i class="fa fa-eye see-info" aria-hidden="true"></i></button>
                                                {% else %}
                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#toInUseModalGet-{{ doc.id }}"><i class="fa fa-eye see-info" aria-hidden="true"></i></button>
                                                <!-- {% for doc_in_use in doc.docs_in_use %} {{ doc_in_use.who_use }} {% endfor %} -->
                                                <div class="modal fade bd-example-modal-lg" id="toInUseModalGet-{{ doc.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="toUseModal-{{ doc.id }}"><i class="fa fa-file" aria-hidden="true"></i> Принять документ «{{doc.doc_name}}»</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        <table class="table">
                                                          <thead>
                                                            <tr>
                                                              <th scope="col">Номер документа</th>
                                                              <th scope="col">Кому выдавался</th>
                                                              <th scope="col">Время</th>
                                                              <th scope="col"></th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            {% for doc_in_use in doc.docs_in_use %} 
                                                            <tr>
                                                                <!-- <td> {{ doc_in_use.id }}</td> -->
                                                                <td> {{ doc_in_use.doc_instance.unique_number }}</td>
                                                                <td> {{ doc_in_use.who_use }} </td>
                                                                <td> {{ doc_in_use.created_at }} </td>
                                                                <td>
                                                                  <center>
                                                                    <form method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="takedocinuse" value="1">
                                                                        <input type="hidden" value="{{ doc_in_use.id }}" name="doc_in_use_id">
                                                                        <button type="submit" class="btn btn-success fa-btn-icons"><i class="fa fa-angle-double-down fa-btn-icons"></i>Принять</button>
                                                                    </form>
                                                                  </center>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                          </tbody>
                                                        </table>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                {% endif %}
                                                <form action="{% url 'docs' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="deletedoc" class="form-control" value="1">
                                                    <input type="hidden" value="{{ doc.id }}" name="pk">
                                                    <button type="submit" class="btn btn-danger delete-item" style="margin-left: 30px;"><i class="fa fa-trash"></i></button>
                                                </form>
                                                
                                              </div>
                                                    <!-- <input type="submit" value="Удалить" name="" class="btn btn-outline-danger delete-item"> -->


                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>      
                    <br><br><br>
        
                </div>
                <div class="col-md-3">
                  {% if user.is_superuser %}
                    <div class="card" style="box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 3px;">
                        <div class="card-header" >
                            <i class="fa fa-plus-circle" style="margin-right: 10px;"></i> Новый документ 
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="adddoc" class="form-control" value="1">
                                <div class="form-field">
                                    {{ form.doc_name }}
                                </div>
                                <div class="form-field">
                                    {{ form.storage }}
                                </div>
                                <div class="form-field">
                                    {{ form.cell_row }}
                                </div>
                                <div class="form-field">
                                    {{ form.cell_column }}
                                </div>
                                <!-- <div class="form-field">
                                    {{ form.number }}
                                </div> -->
                                <div class="form-field" style="padding: 5px; border: 1px solid #cccccc; border-radius: 5px;">
                                  <input type="hidden" name="doc-instances-storage" id="doc-instances-storage"> 
                                  <textarea id="doc-instances" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Сведения об экземплярах документа" value="test"></textarea>
                                  <div class="form-field">
                                    <div id="doc-instances-content"></div>
                                    Количество экземпляров: <span id="istance-count-value">0</span>
                                    <span id="istance-count-value-ok"><i class="fa fa-check"></i></span> 
                                  </div>
                                </div>
                                <div class="form-field">
                                    <button type="submit" class="btn btn-success" style="width: 100%;"> {% trans 'Add' %} </button>
                                </div>
                            </form>
                        </div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>

<!-- <button class="btn btn-danger"></button> -->
<script type="text/javascript">
    function unique(arr) {
        var hash = {}, result = [];
        for ( var i = 0, l = arr.length; i < l; ++i ) {
            if ( !hash.hasOwnProperty(arr[i]) ) { //it works with objects! in FF, at least
                hash[ arr[i] ] = true;
                result.push(arr[i]);
            }
        }
        return result;
    }

    function clear_arr(arr, value){
      while (true){
        let index = arr.indexOf(value);
        if (index == -1) break;
        arr.splice(index, 1);
      }
    }

    $('.delete-item').click((event) => {
        if (! confirm("Вы действительно хотите удалить данный документ?")){
           event.preventDefault();
        }
    });
    $( "#doc-instances" ).on("change", () => {
      // console.log($("#doc-instances").val().trim());
      let items = $("#doc-instances").val().replace(/[^a-яА-Яa-zA-Z0-9.-]+/g, " ").trim().split(" ");
      let content = "";

      clear_arr(items, "");
      clear_arr(items, " ");

      items = unique(items);

      $("#istance-count-value").html(items.length);
      $("#doc-instances-storage").val(items);

      for (let i=0; i<items.length; i++) {
        content += `<span class="btn btn-success doc-instances-view">${items[i]}</span>`;
      }
      $("#doc-instances-content").html(content);
    });

</script>

    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

{% endblock %}


<!-- Создание документа
Номера экземпляров можно указывать с новой строки, через запятую, пробел, точку или как будет удобно
После того, как все номера будут указаны необходимо нажать на галочку, для того чтоб номера прошли валидацию -->